# Build artifacts
Makefile
*.o
*.lo
*.la
*.pc
*.log
*.out
*~
.libs/
.deps/
config.status
config.h
autom4te.cache/
sqlite3
sqlite3.exe
testfixture
testfixture.exe
tclsqlite3
lemon
mkkeywordhash
mksourceid
src-verify
jimsh
sqlite3.c
sqlite3.h
sqlite3ext.h
sqlite3session.h
sqlite_cfg.h
shell.c
parse.c
parse.h
parse.y
parse.sql
opcodes.c
opcodes.h
keywordhash.h
pragma.h
ctime.c
fts5.c
fts5.h
fts5parse.c
fts5parse.h
fts5parse.y
fts5parse.sql
fts5parse.out
lempar.c
tsrc/
.target_source
.main.mk.checks
libsqlite3.a
libsqlite3.so
libsqlite3.so.*
libsqlite3.dylib
*.dll
*.dylib
*.so
